<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroStore - Galeria</title>
    <link rel="stylesheet" href="./../styles/reset.css">
    <link rel="stylesheet" href="./galery.css">
    <link rel="stylesheet" href="./../styles/style.css">
</head>

<body>
    <header>
        <div class="headerBox">
            <span></span>
            <h1>AgroStore</h1>
            <nav class="wrap-menu">
                <div class="align-icon">
                    <a href="#" class="btnMenu btnMenu-open"><img class="image-btn" src="./../../assets/menu.svg"></a>
                </div>
                
                <ul class="menu">
                    <li class="btnMenu btnMenuclose"><img class="image-close-menu"src="./../../assets/menu.svg"></li>
                    <li class="item-menu">
                        <a href="./../../index.html">Home</a>
                    </li>
                    <li class="item-menu">
                        <a href="./../products/products.html">Produtos</a>
                    </li>
                    <li class="item-menu">
                        <a href="./../galery/galery.html">Galeria</a>
                    </li>
                    <li class="item-menu">
                        <a href="./../contact/contact.html">Contato</a>
                    </li>
                    <li class="item-menu">
                        <a href="./../login/login.html">Login</a>
                    </li>
                    <li class="item-menu">
                        <a href="./../register/register.html">Registrar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="headerLine"></div>
    <script src="./../../scripts/index.js"></script>
    <div class="container">
        <h1 class="heading"> Pesquisar Imagem</h1>

        <input type="text" placeholder="escreva aqui..." id="search-box">

        <div class="image-container">
            <div class="image" data-title="colhedora">
                <img src="./../../assets/product-images/colhedora-de-cana-de-acucar.jpg"
                    alt="Colhedora de Cana de Açucar">
                <h3>Colhedora de cana de açucar <br> John Deere</h3>
            </div>

            <div class="image" data-title="uniporte">
                <img src="./../../assets/product-images/uniporte-3030-eletrovortex-maquinario-de-pulverizacao.jpg"
                 alt="Uniporte 3030 Eletrovortex">
                <h3>Uniporte 3030 Eletrovortex maquinário de pulverização <br> Jacto Máquinas agrícolas</h3>
            </div>

            <div class="image" data-title="colhedora">
                <img src="./../../assets/product-images/colhedora-de-graos.jpg" 
                alt="Colhedora de Grãos">
                <h3>Colhedora de grãos	<br> John Deere</h3>
            </div>

            <div class="image" data-title="colhedora">
                <img src="./../../assets/product-images/colhedora-de-cafe.jpg"
                 alt="Colhedora de Café K3500">
                <h3>Colhedora de café K3500 <br> Jacto Máquinas agrícolas</h3>
            </div>

            <div class="image" data-title="colhedora">
                <img src="./../../assets/product-images/colhedora-de-milho-jhon-deere-x9-1100.jpg"
                 alt="Colhedora de Milho">
                <h3>Colhedora de Milho X9 1100 <br> John Deere</h3>
            </div>

            <div class="image" data-title="colhedora">
                <img src="./../../assets/product-images/colhedora-de-amendoim-avanti-c-360.jpg"
                 alt="Colhedora de Amendoim">
                <h3>Colhedora de Amendoim C360 <br> Maquinas e Implementos Agrícolas Colombo</h3>
            </div>

            <div class="image" data-title="colhedora">
                <img src="./../../assets/product-images/colhedora-de-batata-kwatro.jpg"
                 alt="Colhedora de Batata">
                <h3>Colhedora de Batata Kwatro <br> Dewulf Group</h3>
            </div>

            <div class="image" data-title="pulverizador">
                <img src="./../../assets/product-images/pulverizador-overlander.jpg"
                 alt="Pulverizador Overlander">
                <h3>Pulverizador Overlander <br> Incomagri</h3>
            </div>

            <div class="image" data-title="colhedora">
                <img src="./../../assets/product-images/colhedora-de-algodao-john-deere.jpg"
                 alt="Colhedora de Algodão">
                <h3>Colhedora de Algodão CP770 <br> John Deere</h3>
            </div>
        </div>
    </div>
    <script src="./../../scripts/main.js"></script>
</body>

</html>