@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


 body{
    overflow-y: hidden;
    overflow-x: hidden;
 }

.logoContainer{
    width: 50%;
    height: 100%;
    max-height: 100%;
    background: #00132A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoContainer h1{
    font-size: 3.25rem;
    font-weight: bold;
    color: #0098C6;
}

.headerLine{
    width: 100%;
    border: 1px solid #0098C6;
    margin: 20px;
}

.loginContainer{
    width: 50%;
    height: 100%;
    max-height: 100%;
    background: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage{
    width: 90%;
    height: 90%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0098C6;
}

#loginTitle{
    color: #000000;
    font-size: 1.125rem;
    font-weight: 275;
}

.loginPage h1{
    padding: 10px;
    font-size: 32px;
    color: #000000;
    font-weight: 600;
}

.loginLabel{
    font-size: 1rem;
    color: #000000;
    font-weight: 600;
    margin: 10px;
}

.form input{
    width: 500px;
    height: 36px;
    border: 1px solid #000000;
}

.form input:hover{
    border: 1px solid #0098C6;
}

.checkboxContainer{
    max-width: 530px;
    width: 530px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.checkbox{
    border-radius: 12px;
}

.labelDivisao {
    display: flex;
    justify-content: flex-start;
    max-width: 530px;
    width: 530px;
}

.loginContainer label, p{
    font-size: 1rem;
    color: #000000;
    font-weight: 275;

}

#forgotPassword{
    cursor: pointer;
}

#loginButton{
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 50px;
    background: #05bcf3;
    cursor: pointer;
}

#loginButton span {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

#loginButton:focus{
    background: #0098C6;
    border: none;
}

.loginContainer h2{
    padding: 20px;
    font-size: 1rem;
    color: #000000;
    font-weight: bold;

}

.loginOthers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 500px;
    height: 36px;
    border: 1px solid #000000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}

.loginOthers:focus{
    background-color: #CCCCCC;
    
}

.loginOthers:hover{
    border: 1px solid #0098C6;
}

i{
    color: #05bcf0;
    cursor: pointer;
}

i:hover{
    color: #407BFF;
    text-decoration: underline;
}
