<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CloudStore - Registrar</title>
        <link rel="stylesheet" href="./../styles/reset.css">
        <link rel="stylesheet" href="./../register/register.css">
    </head>
    <body>
        <main>
            <div class="logoContainer">
                <h1>CloudStore</h1>
                <div class="headerLine"></div>
            </div>
            <div class="registerContainer">
                <div class="registerPage">
                    <p id="registerTitle">Bem-vindo a CloudStore</p>
                    <h1>Criar conta</h1>
                    <div class="divisionLabel">
                        <label class="registerLabel" for="username">Nome de usuário</label>
                    </div>
                    <div class="form">
                        <input type="text" name="username">
                    </div>
                    <div class="divisionLabel">
                        <label class="registerLabel" for="e-mail">Endereço de E-mail</label>
                    </div>
                    <div class="form">
                        <input type="text" name="e-mail">
                    </div>
                    <div class="divisionLabel">
                        <label class="registerLabel" for="password">Senha</label>
                    </div>
                    <div class="form">
                        <input type="password" name="password">
                    </div>
                    <div class="divisionLabel">
                        <label class="registerLabel" for="confirm-password">Confirmar senha</label>
                    </div>
                    <div class="form">
                        <input type="password" name="confirm-password">
                    </div>
                    <button id="registerButton">
                        <span>Inscreva-se</span>
                    </button>
                </div>
            </div>      
        </main>
    </body>
</html>